@model BTLPMQL.Models.DanhGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: red">Chi Tiết</h2>
<hr />
<div>
    
    <dl class="dl-horizontal">
        <dt>
           <p>Tên Khách Hàng :</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenKhachHang)
        </dd>

        <dt>
            <p>Nhận Xét :</p>
        </dt>

        <dd>
            @Html.Raw(Model.NhanXet)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Quay Lại", "Index")
</p>
